## Descargando mapa y data:

In [94]:
import geopandas as gpd

link="https://github.com/chorrillos/spatial/raw/main/worldMap.geojson"
WorldMap=gpd.read_file(link)
WorldMap

,FIPS,ISO2,ISO3,UN,NAME,AREA,POP2005,REGION,SUBREGION,LON,LAT,geometry
0,AC,AG,ATG,28,Antigua and Barbuda,44,83039,19,29,-61.783,17.078,"MULTIPOLYGON (((-61.68667 17.02444, -61.88722 ..."
1,AG,DZ,DZA,12,Algeria,238174,32854159,2,15,2.632,28.163,"POLYGON ((2.96361 36.80222, 4.78583 36.89472, ..."
2,AJ,AZ,AZE,31,Azerbaijan,8260,8352021,142,145,47.395,40.430,"MULTIPOLYGON (((45.08332 39.76805, 45.81999 39..."
3,AL,AL,ALB,8,Albania,2740,3153731,150,39,20.068,41.143,"POLYGON ((19.43621 41.02107, 19.60055 41.79666..."
4,AM,AM,ARM,51,Armenia,2820,3017661,142,145,44.563,40.534,"POLYGON ((45.15387 41.19860, 46.00194 40.22555..."
...,...,...,...,...,...,...,...,...,...,...,...,...
241,TB,BL,BLM,652,Saint Barthelemy,0,0,19,29,-63.043,18.040,"POLYGON ((-63.02834 18.01555, -63.13984 18.058..."
242,GK,GG,GGY,831,Guernsey,0,0,150,154,-2.576,49.459,"POLYGON ((-2.59083 49.42249, -2.67028 49.43417..."
243,JE,JE,JEY,832,Jersey,0,0,150,154,-2.129,49.219,"POLYGON ((-2.01500 49.21417, -2.20528 49.18083..."
244,SX,GS,SGS,239,South Georgia South Sandwich Islands,0,0,0,0,-36.891,-54.209,"MULTIPOLYGON (((-27.32584 -59.42722, -27.29806..."
245,TW,TW,TWN,158,Taiwan,0,0,0,0,120.946,23.754,"MULTIPOLYGON (((121.57639 22.00139, 121.49026 ..."

In [95]:
import pandas as pd
link2="https://github.com/xmarquez/democracyData/raw/master/data-raw/EIU%20Democracy%20Index%202020.csv"
datademo=pd.read_csv(link2)
datademo

       country   eiu  year
0       Canada  8.87  2021
1       Canada  9.24  2020
2       Canada  9.22  2019
3       Canada  9.15  2018
4       Canada  9.15  2017
...        ...   ...   ...
2333  Zimbabwe  2.67  2012
2334  Zimbabwe  2.68  2011
2335  Zimbabwe  2.64  2010
2336  Zimbabwe  2.53  2008
2337  Zimbabwe  2.62  2006

[2338 rows x 3 columns]

In [96]:
# data 2021
#install bs4 y html5lib
link3="https://en.wikipedia.org/wiki/Democracy_Index"
data2021=pd.read_html(link3,flavor='bs4',header=0)[6]
data2021

,Rank,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Δ Rank,Country,Regime type,Overall score,Δ Score,Elec­toral pro­cessand plura­lism,Func­tioningof govern­ment,Poli­ticalpartici­pation,Poli­ticalcul­ture,Civilliber­ties
0,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies
1,1,NaN,Norway,Full democracy,9.75,0.06,10.00,9.64,10.00,10.00,9.12
2,2,2,New Zealand,Full democracy,9.37,0.12,10.00,8.93,8.89,8.75,9.71
3,3,3,Finland,Full democracy,9.27,0.07,10.00,9.29,8.89,8.75,9.41
4,4,1,Sweden,Full democracy,9.26,NaN,9.58,9.29,8.33,10.00,9.12
...,...,...,...,...,...,...,...,...,...,...,...
166,162,2,Central African Republic,Authoritarian,1.43,0.11,1.25,0.00,1.67,1.88,2.35
167,164,2,Democratic Republic of the Congo,Authoritarian,1.40,0.27,0.75,0.00,2.22,3.13,0.88
168,165,2,North Korea,Authoritarian,1.08,NaN,0.00,2.50,1.67,1.25,0.00
169,166,31,Myanmar,Authoritarian,1.02,2.04,0.00,0.00,1.67,3.13,0.29
170,167,28,Afghanistan,Authoritarian,0.32,2.53,0.00,0.07,0.00,1.25,0.29

In [97]:
datademo=datademo.pivot(index='country', columns='year', values='eiu')
datademo.reset_index(inplace=True)
datademo

year,country,2006,2008,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,3.06,3.02,2.48,2.48,2.48,2.48,2.77,2.77,2.55,2.55,2.97,2.85,2.85,0.32
1,Albania,5.91,5.91,5.86,5.81,5.67,5.67,5.67,5.91,5.91,5.98,5.98,5.89,6.08,6.11
2,Algeria,3.17,3.32,3.44,3.44,3.83,3.83,3.83,3.95,3.56,3.56,3.50,4.01,3.77,3.77
3,Angola,2.41,3.35,3.32,3.32,3.35,3.35,3.35,3.35,3.40,3.62,3.62,3.72,3.66,3.37
4,Argentina,6.63,6.63,6.84,6.84,6.84,6.84,6.84,7.02,6.96,6.96,7.02,7.02,6.95,6.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Vietnam,2.75,2.53,2.94,2.96,2.89,3.29,3.41,3.53,3.38,3.08,3.08,3.08,2.94,2.94
163,Yemen,2.98,2.95,2.64,2.57,3.12,2.79,2.79,2.24,2.07,2.07,1.95,1.95,1.95,1.95
164,Zambia,5.25,5.25,5.68,6.19,6.26,6.26,6.39,6.28,5.99,5.68,5.61,5.09,4.86,5.72
165,Zimbabwe,2.62,2.53,2.64,2.68,2.67,2.67,2.78,3.05,3.05,3.16,3.16,3.16,3.16,2.92
166,eSwatini,2.93,3.04,2.90,3.26,3.20,3.20,3.09,3.09,3.03,3.03,3.03,3.14,3.08,3.08

In [98]:
datademo.columns

Index(['country',      2006,      2008,      2010,      2011,      2012,
            2013,      2014,      2015,      2016,      2017,      2018,
            2019,      2020,      2021],
      dtype='object', name='year')

In [99]:
datademo.columns=[str(y) for y in datademo.columns]
datademo.columns

Index(['country', '2006', '2008', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [100]:
datademo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  167 non-null    object
 1   2006     167 non-null    float64
 2   2008     167 non-null    float64
 3   2010     167 non-null    float64
 4   2011     167 non-null    float64
 5   2012     167 non-null    float64
 6   2013     167 non-null    float64
 7   2014     167 non-null    float64
 8   2015     167 non-null    float64
 9   2016     167 non-null    float64
 10  2017     167 non-null    float64
 11  2018     167 non-null    float64
 12  2019     167 non-null    float64
 13  2020     167 non-null    float64
 14  2021     167 non-null    float64
dtypes: float64(14), object(1)
memory usage: 19.7+ KB

In [101]:
data2021.columns

Index(['Rank',
       '.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Δ Rank',
       'Country', 'Regime type', 'Overall score', 'Δ Score',
       'Elec­toral pro­cessand plura­lism', 'Func­tioningof govern­ment',
       'Poli­ticalpartici­pation', 'Poli­ticalcul­ture', 'Civilliber­ties'],
      dtype='object')

In [102]:
data2021.drop(data2021.columns[[0,1,3,4,5]],axis=1,inplace=True)
data2021

,Country,Elec­toral pro­cessand plura­lism,Func­tioningof govern­ment,Poli­ticalpartici­pation,Poli­ticalcul­ture,Civilliber­ties
0,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies
1,Norway,10.00,9.64,10.00,10.00,9.12
2,New Zealand,10.00,8.93,8.89,8.75,9.71
3,Finland,10.00,9.29,8.89,8.75,9.41
4,Sweden,9.58,9.29,8.33,10.00,9.12
...,...,...,...,...,...,...
166,Central African Republic,1.25,0.00,1.67,1.88,2.35
167,Democratic Republic of the Congo,0.75,0.00,2.22,3.13,0.88
168,North Korea,0.00,2.50,1.67,1.25,0.00
169,Myanmar,0.00,0.00,1.67,3.13,0.29
170,Afghanistan,0.00,0.07,0.00,1.25,0.29

In [103]:
data2021.columns.to_list()

['Country',
 'Elec\xadtoral pro\xadcessand plura\xadlism',
 'Func\xadtioningof govern\xadment',
 'Poli\xadticalpartici\xadpation',
 'Poli\xadticalcul\xadture',
 'Civilliber\xadties']

In [104]:
data2021.columns.str.replace('\N{SOFT HYPHEN}|\s', '',regex=True).str.lower().to_list()

['country',
 'electoralprocessandpluralism',
 'functioningofgovernment',
 'politicalparticipation',
 'politicalculture',
 'civilliberties']

In [105]:
data2021.columns=data2021.columns.str.replace('\N{SOFT HYPHEN}|\s', '',regex=True).str.lower().to_list()
data2021.columns

Index(['country', 'electoralprocessandpluralism', 'functioningofgovernment',
       'politicalparticipation', 'politicalculture', 'civilliberties'],
      dtype='object')

In [106]:
datademo.merge(data2021)

,country,2006,2008,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,electoralprocessandpluralism,functioningofgovernment,politicalparticipation,politicalculture,civilliberties
0,Afghanistan,3.06,3.02,2.48,2.48,2.48,2.48,2.77,2.77,2.55,2.55,2.97,2.85,2.85,0.32,0.00,0.07,0.00,1.25,0.29
1,Albania,5.91,5.91,5.86,5.81,5.67,5.67,5.67,5.91,5.91,5.98,5.98,5.89,6.08,6.11,7.00,6.43,4.44,5.63,7.06
2,Algeria,3.17,3.32,3.44,3.44,3.83,3.83,3.83,3.95,3.56,3.56,3.50,4.01,3.77,3.77,3.08,2.50,4.44,5.00,3.82
3,Angola,2.41,3.35,3.32,3.32,3.35,3.35,3.35,3.35,3.40,3.62,3.62,3.72,3.66,3.37,1.33,2.86,5.00,5.00,2.65
4,Argentina,6.63,6.63,6.84,6.84,6.84,6.84,6.84,7.02,6.96,6.96,7.02,7.02,6.95,6.81,9.17,5.00,7.22,5.00,7.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Venezuela,5.42,5.34,5.18,5.08,5.15,5.07,5.07,5.00,4.68,3.87,3.16,2.88,2.76,2.11,0.00,1.79,3.89,2.50,2.35
152,Vietnam,2.75,2.53,2.94,2.96,2.89,3.29,3.41,3.53,3.38,3.08,3.08,3.08,2.94,2.94,0.00,2.86,3.89,5.63,2.35
153,Yemen,2.98,2.95,2.64,2.57,3.12,2.79,2.79,2.24,2.07,2.07,1.95,1.95,1.95,1.95,0.00,0.00,3.89,5.00,0.88
154,Zambia,5.25,5.25,5.68,6.19,6.26,6.26,6.39,6.28,5.99,5.68,5.61,5.09,4.86,5.72,7.50,3.64,5.00,6.88,5.59
155,Zimbabwe,2.62,2.53,2.64,2.68,2.67,2.67,2.78,3.05,3.05,3.16,3.16,3.16,3.16,2.92,0.00,2.50,3.89,5.00,3.24

In [107]:
sinmatchDATA=list(set(datademo.country)- set(data2021.country))
sinmatch2021=list(set(data2021.country)-set(datademo.country) )
len(sinmatchDATA), len(sinmatch2021)

(11, 15)

In [108]:
from thefuzz import process
[(process.extractOne(country,sinmatch2021),country) for country in sorted(sinmatchDATA)]

[(('Bosnia and Herzegovina', 95), 'Bosnia and Hercegovina'),
 (('Cape Verde', 80), 'Cabo Verde'),
 (('Democratic Republic of the Congo', 86), 'Congo (Brazzaville)'),
 (('Ivory Coast', 58), 'Côte d’Ivoire'),
 (('Democratic Republic of the Congo', 95), 'Democratic Republic of Congo'),
 (('Democratic Republic of the Congo', 86), 'Kyrgyz Republic'),
 (('East Timor', 82), 'Timor Leste'),
 (('United States', 60), 'UAE'),
 (('United Kingdom', 45), 'UK'),
 (('United Kingdom', 45), 'US'),
 (('Eswatini', 100), 'eSwatini')]

In [109]:
data2021[data2021.country.str.contains("Kyr")]

,country,electoralprocessandpluralism,functioningofgovernment,politicalparticipation,politicalculture,civilliberties
118,Kyrgyzstan,4.33,1.50,4.44,5.00,3.82

In [110]:
data2021.loc[data2021.country=="Republic of the Congo","country"]="Congo (Brazzaville)"
data2021.loc[data2021.country=="United Arab Emirates","country"]="UAE"
data2021.loc[data2021.country=="United Kingdom","country"]="UK"
data2021.loc[data2021.country=="United States","country"]="US"
data2021.loc[data2021.country=="Kyrgyzstan","country"]="Kyrgyz Republic"

In [111]:
# dict de cambios:
cambios2021Name={process.extractOne(country,sinmatch2021)[0]:country for country in sorted(sinmatchDATA)}
cambios2021Name

{'Bosnia and Herzegovina': 'Bosnia and Hercegovina',
 'Cape Verde': 'Cabo Verde',
 'Democratic Republic of the Congo': 'Kyrgyz Republic',
 'Ivory Coast': 'Côte d’Ivoire',
 'East Timor': 'Timor Leste',
 'United States': 'UAE',
 'United Kingdom': 'US',
 'Eswatini': 'eSwatini'}

In [112]:
# ejecutando cambios 
data2021.country.replace(cambios2021Name,inplace=True)
data2021

,country,electoralprocessandpluralism,functioningofgovernment,politicalparticipation,politicalculture,civilliberties
0,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies
1,Norway,10.00,9.64,10.00,10.00,9.12
2,New Zealand,10.00,8.93,8.89,8.75,9.71
3,Finland,10.00,9.29,8.89,8.75,9.41
4,Sweden,9.58,9.29,8.33,10.00,9.12
...,...,...,...,...,...,...
166,Central African Republic,1.25,0.00,1.67,1.88,2.35
167,Kyrgyz Republic,0.75,0.00,2.22,3.13,0.88
168,North Korea,0.00,2.50,1.67,1.25,0.00
169,Myanmar,0.00,0.00,1.67,3.13,0.29
170,Afghanistan,0.00,0.07,0.00,1.25,0.29

In [113]:
datademo.merge(data2021)

,country,2006,2008,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,electoralprocessandpluralism,functioningofgovernment,politicalparticipation,politicalculture,civilliberties
0,Afghanistan,3.06,3.02,2.48,2.48,2.48,2.48,2.77,2.77,2.55,2.55,2.97,2.85,2.85,0.32,0.00,0.07,0.00,1.25,0.29
1,Albania,5.91,5.91,5.86,5.81,5.67,5.67,5.67,5.91,5.91,5.98,5.98,5.89,6.08,6.11,7.00,6.43,4.44,5.63,7.06
2,Algeria,3.17,3.32,3.44,3.44,3.83,3.83,3.83,3.95,3.56,3.56,3.50,4.01,3.77,3.77,3.08,2.50,4.44,5.00,3.82
3,Angola,2.41,3.35,3.32,3.32,3.35,3.35,3.35,3.35,3.40,3.62,3.62,3.72,3.66,3.37,1.33,2.86,5.00,5.00,2.65
4,Argentina,6.63,6.63,6.84,6.84,6.84,6.84,6.84,7.02,6.96,6.96,7.02,7.02,6.95,6.81,9.17,5.00,7.22,5.00,7.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Vietnam,2.75,2.53,2.94,2.96,2.89,3.29,3.41,3.53,3.38,3.08,3.08,3.08,2.94,2.94,0.00,2.86,3.89,5.63,2.35
163,Yemen,2.98,2.95,2.64,2.57,3.12,2.79,2.79,2.24,2.07,2.07,1.95,1.95,1.95,1.95,0.00,0.00,3.89,5.00,0.88
164,Zambia,5.25,5.25,5.68,6.19,6.26,6.26,6.39,6.28,5.99,5.68,5.61,5.09,4.86,5.72,7.50,3.64,5.00,6.88,5.59
165,Zimbabwe,2.62,2.53,2.64,2.68,2.67,2.67,2.78,3.05,3.05,3.16,3.16,3.16,3.16,2.92,0.00,2.50,3.89,5.00,3.24
166,eSwatini,2.93,3.04,2.90,3.26,3.20,3.20,3.09,3.09,3.03,3.03,3.03,3.14,3.08,3.08,0.92,2.86,2.78,5.63,3.24

In [114]:
datademo=datademo.merge(data2021)

In [115]:
sinmatchDATA=list(set(datademo.country)- set(WorldMap.NAME))
sinmatchMAP=list(set(WorldMap.NAME)-set(datademo.country) )
len(sinmatchDATA), len(sinmatchMAP)

(21, 101)

In [116]:
from thefuzz import process
[(process.extractOne(country,sinmatchMAP),country) for country in sorted(sinmatchDATA)]

[(('Bosnia and Herzegovina', 95), 'Bosnia and Hercegovina'),
 (('Cape Verde', 80), 'Cabo Verde'),
 (('Congo', 90), 'Congo (Brazzaville)'),
 (("Cote d'Ivoire", 96), 'Côte d’Ivoire'),
 (('Iran (Islamic Republic of)', 90), 'Iran'),
 (('The former Yugoslav Republic of Macedonia', 86), 'Kyrgyz Republic'),
 (('Barbados', 68), 'Laos'),
 (('Libyan Arab Jamahiriya', 90), 'Libya'),
 (('Republic of Moldova', 90), 'Moldova'),
 (('Libyan Arab Jamahiriya', 64), 'Myanmar'),
 (('Korea, Republic of', 86), 'North Korea'),
 (('The former Yugoslav Republic of Macedonia', 86), 'North Macedonia'),
 (('South Georgia South Sandwich Islands', 86), 'South Korea'),
 (('Syrian Arab Republic', 90), 'Syria'),
 (('United Republic of Tanzania', 90), 'Tanzania'),
 (('Timor-Leste', 100), 'Timor Leste'),
 (('French Guiana', 60), 'UAE'),
 (('Guam', 45), 'UK'),
 (('Brunei Darussalam', 60), 'US'),
 (('Viet Nam', 93), 'Vietnam'),
 (('Swaziland', 59), 'eSwatini')]

## Corrigiendo texto clave

In [117]:
WorldMap.loc[WorldMap.NAME=="Kyrgyzstan","NAME"]="Kyrgyz Republic"
WorldMap.loc[WorldMap.NAME=="Korea, Democratic People's Republic of","NAME"]="North Korea"
WorldMap.loc[WorldMap.NAME=="Korea, Republic of","NAME"]="South Korea"
WorldMap.loc[WorldMap.NAME=="Burma","NAME"]="Myanmar"
WorldMap.loc[WorldMap.NAME=="United Arab Emirates","NAME"]="UAE"
WorldMap.loc[WorldMap.NAME=="United Kingdom","NAME"]="UK"
WorldMap.loc[WorldMap.NAME=="United States","NAME"]="US"

In [118]:
sinmatchDATA=list(set(datademo.country)- set(WorldMap.NAME))
sinmatchMAP=list(set(WorldMap.NAME)-set(datademo.country) )
len(sinmatchDATA), len(sinmatchMAP)

(14, 94)

In [119]:
[(process.extractOne(country,sinmatchMAP),country) for country in sorted(sinmatchDATA)]

[(('Bosnia and Herzegovina', 95), 'Bosnia and Hercegovina'),
 (('Cape Verde', 80), 'Cabo Verde'),
 (('Congo', 90), 'Congo (Brazzaville)'),
 (("Cote d'Ivoire", 96), 'Côte d’Ivoire'),
 (('Iran (Islamic Republic of)', 90), 'Iran'),
 (('Barbados', 68), 'Laos'),
 (('Libyan Arab Jamahiriya', 90), 'Libya'),
 (('Republic of Moldova', 90), 'Moldova'),
 (('The former Yugoslav Republic of Macedonia', 86), 'North Macedonia'),
 (('Syrian Arab Republic', 90), 'Syria'),
 (('United Republic of Tanzania', 90), 'Tanzania'),
 (('Timor-Leste', 100), 'Timor Leste'),
 (('Viet Nam', 93), 'Vietnam'),
 (('Swaziland', 59), 'eSwatini')]

In [120]:
# dict de cambios:
cambiosMapaName={process.extractOne(country,sinmatchMAP)[0]:country for country in sorted(sinmatchDATA)}
cambiosMapaName

{'Bosnia and Herzegovina': 'Bosnia and Hercegovina',
 'Cape Verde': 'Cabo Verde',
 'Congo': 'Congo (Brazzaville)',
 "Cote d'Ivoire": 'Côte d’Ivoire',
 'Iran (Islamic Republic of)': 'Iran',
 'Barbados': 'Laos',
 'Libyan Arab Jamahiriya': 'Libya',
 'Republic of Moldova': 'Moldova',
 'The former Yugoslav Republic of Macedonia': 'North Macedonia',
 'Syrian Arab Republic': 'Syria',
 'United Republic of Tanzania': 'Tanzania',
 'Timor-Leste': 'Timor Leste',
 'Viet Nam': 'Vietnam',
 'Swaziland': 'eSwatini'}

In [121]:
# ejecutando cambios 
WorldMap.NAME.replace(cambiosMapaName,inplace=True)
WorldMap

,FIPS,ISO2,ISO3,UN,NAME,AREA,POP2005,REGION,SUBREGION,LON,LAT,geometry
0,AC,AG,ATG,28,Antigua and Barbuda,44,83039,19,29,-61.783,17.078,"MULTIPOLYGON (((-61.68667 17.02444, -61.88722 ..."
1,AG,DZ,DZA,12,Algeria,238174,32854159,2,15,2.632,28.163,"POLYGON ((2.96361 36.80222, 4.78583 36.89472, ..."
2,AJ,AZ,AZE,31,Azerbaijan,8260,8352021,142,145,47.395,40.430,"MULTIPOLYGON (((45.08332 39.76805, 45.81999 39..."
3,AL,AL,ALB,8,Albania,2740,3153731,150,39,20.068,41.143,"POLYGON ((19.43621 41.02107, 19.60055 41.79666..."
4,AM,AM,ARM,51,Armenia,2820,3017661,142,145,44.563,40.534,"POLYGON ((45.15387 41.19860, 46.00194 40.22555..."
...,...,...,...,...,...,...,...,...,...,...,...,...
241,TB,BL,BLM,652,Saint Barthelemy,0,0,19,29,-63.043,18.040,"POLYGON ((-63.02834 18.01555, -63.13984 18.058..."
242,GK,GG,GGY,831,Guernsey,0,0,150,154,-2.576,49.459,"POLYGON ((-2.59083 49.42249, -2.67028 49.43417..."
243,JE,JE,JEY,832,Jersey,0,0,150,154,-2.129,49.219,"POLYGON ((-2.01500 49.21417, -2.20528 49.18083..."
244,SX,GS,SGS,239,South Georgia South Sandwich Islands,0,0,0,0,-36.891,-54.209,"MULTIPOLYGON (((-27.32584 -59.42722, -27.29806..."
245,TW,TW,TWN,158,Taiwan,0,0,0,0,120.946,23.754,"MULTIPOLYGON (((121.57639 22.00139, 121.49026 ..."

## Preparando mapa

In [122]:
# merge hacia MAPA
WorldMap=WorldMap.merge(datademo, left_on='NAME', right_on="country")

In [123]:
WorldMap

,FIPS,ISO2,ISO3,UN,NAME,AREA,POP2005,REGION,SUBREGION,LON,...,2017,2018,2019,2020,2021,electoralprocessandpluralism,functioningofgovernment,politicalparticipation,politicalculture,civilliberties
0,AG,DZ,DZA,12,Algeria,238174,32854159,2,15,2.632,...,3.56,3.50,4.01,3.77,3.77,3.08,2.50,4.44,5.00,3.82
1,AJ,AZ,AZE,31,Azerbaijan,8260,8352021,142,145,47.395,...,2.65,2.65,2.75,2.68,2.68,0.50,2.86,3.33,3.75,2.94
2,AL,AL,ALB,8,Albania,2740,3153731,150,39,20.068,...,5.98,5.98,5.89,6.08,6.11,7.00,6.43,4.44,5.63,7.06
3,AM,AM,ARM,51,Armenia,2820,3017661,142,145,44.563,...,4.11,4.79,5.54,5.35,5.49,7.50,5.00,6.11,3.13,5.00
4,AO,AO,AGO,24,Angola,124670,16095214,2,17,17.544,...,3.62,3.62,3.72,3.66,3.37,1.33,2.86,5.00,5.00,2.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,ID,ID,IDN,360,Indonesia,181157,226063044,142,35,114.252,...,6.39,6.39,6.48,6.30,6.71,7.92,7.86,7.22,4.38,6.18
163,AE,AE,ARE,784,UAE,8360,4104291,142,145,54.163,...,2.69,2.76,2.76,2.70,2.90,0.00,4.29,2.22,5.63,2.35
164,TT,TL,TLS,626,Timor Leste,1487,1067285,142,35,125.878,...,7.19,7.19,7.19,7.06,7.06,9.58,5.93,5.56,6.88,7.35
165,RB,RS,SRB,688,Serbia,0,9863026,150,39,20.806,...,6.41,6.41,6.41,6.22,6.36,8.25,5.36,6.67,3.75,7.06
166,TW,TW,TWN,158,Taiwan,0,0,0,0,120.946,...,7.73,7.73,7.73,8.94,8.99,10.00,9.64,7.78,8.13,9.41

In [124]:
WorldMap.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 167 entries, 0 to 166
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   FIPS                          166 non-null    object
 1   ISO2                          167 non-null    object
 2   ISO3                          167 non-null    object
 3   UN                            167 non-null    int64
 4   NAME                          167 non-null    object
 5   AREA                          167 non-null    int64
 6   POP2005                       167 non-null    int64
 7   REGION                        167 non-null    int64
 8   SUBREGION                     167 non-null    int64
 9   LON                           167 non-null    float64
 10  LAT                           167 non-null    float64
 11  geometry                      167 non-null    geometry
 12  country                       167 non-null    object
 13  2006                          167 non-null    float64
 14  2008                          167 non-null    float64
 15  2010                          167 non-null    float64
 16  2011                          167 non-null    float64
 17  2012                          167 non-null    float64
 18  2013                          167 non-null    float64
 19  2014                          167 non-null    float64
 20  2015                          167 non-null    float64
 21  2016                          167 non-null    float64
 22  2017                          167 non-null    float64
 23  2018                          167 non-null    float64
 24  2019                          167 non-null    float64
 25  2020                          167 non-null    float64
 26  2021                          167 non-null    float64
 27  electoralprocessandpluralism  167 non-null    object
 28  functioningofgovernment       167 non-null    object
 29  politicalparticipation        167 non-null    object
 30  politicalculture              167 non-null    object
 31  civilliberties                167 non-null    object
dtypes: float64(16), geometry(1), int64(5), object(10)
memory usage: 43.1+ KB

In [125]:
WorldMap.iloc[:,27:]=WorldMap.iloc[:,27:].astype('float')
WorldMap.describe()

,UN,AREA,POP2005,REGION,SUBREGION,LON,LAT,2006,2008,2010,...,2017,2018,2019,2020,2021,electoralprocessandpluralism,functioningofgovernment,politicalparticipation,politicalculture,civilliberties
count,167.000000,1.670000e+02,1.670000e+02,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,...,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,424.628743,7.548562e+04,3.651744e+07,78.868263,60.502994,21.763898,20.919796,5.527186,5.558263,5.475269,...,5.496407,5.500240,5.461497,5.388204,5.294671,5.630599,4.642216,5.385629,5.399042,5.375090
std,251.412911,1.964248e+05,1.376933e+08,69.277733,59.910664,57.555757,24.324606,2.250531,2.234507,2.213947,...,2.167983,2.177584,2.216369,2.229846,2.297925,3.825036,2.575207,1.962253,1.829874,2.711683
min,4.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,-109.433000,-42.634000,1.030000,0.860000,1.080000,...,1.080000,1.080000,1.080000,1.080000,0.320000,0.000000,0.000000,0.000000,1.250000,0.000000
25%,211.000000,4.471500e+03,2.543873e+06,2.000000,14.000000,-2.632000,6.626500,3.520000,3.525000,3.445000,...,3.625000,3.600000,3.485000,3.300000,3.230000,1.460000,2.710000,3.890000,4.065000,3.240000
50%,414.000000,1.837800e+04,7.424389e+06,142.000000,34.000000,21.766000,21.656000,5.890000,5.850000,5.860000,...,5.690000,5.690000,5.650000,5.710000,5.610000,7.000000,5.000000,5.560000,5.630000,5.590000
75%,630.000000,5.742450e+04,2.262158e+07,142.000000,145.000000,47.385500,40.838500,7.375000,7.355000,7.215000,...,7.210000,7.175000,7.165000,7.130000,7.095000,9.170000,6.430000,6.670000,6.250000,7.650000
max,894.000000,1.638094e+06,1.312979e+09,150.000000,155.000000,177.974000,64.764000,9.880000,9.880000,9.800000,...,9.870000,9.870000,9.870000,9.810000,9.750000,10.000000,9.640000,10.000000,10.000000,9.710000

In [126]:
# guardando data
WorldMap.to_file("WorldMapDemo.gpkg", layer='DISTRITO', driver="GPKG")